.main-container{
    width: 450px;
    height: 200px;
    background-color: beige;
    border-radius: 5px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
 margin-inline: auto;
}
.catgory{
    font-size: 1.2rem;
    color: rgb(233, 74, 74);
   padding-top: 10px;
   padding-left: 20px;
}
.list1 li{
    list-style: none;
    padding-left: 25px;
    padding-bottom: 5px;
    font-size: 0.95rem;
}
.list1 li:hover{
    color: rgb(6, 103, 248);
}